<div class="col-7">
  <div class="mb-3">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold"%>
  </div>

  <div class="mb-4">
    <%= render 'shared/tweet_form' %>
  </div>

  <%# Tweet.order(created_at: :desc).each do |tweet| %>
    <%#= render "tweets/tweet", tweet: tweet %>
  <%# end %>

  <%# this is the same as above %>
  <%#= render Tweet.order(created_at: :desc) %>

  <div id="tweets">
    <%= render Tweet.order(created_at: :desc) %>
  </div>
</div>

<div class="col">Search Bar / Trending / Who to follow</div>
