<%=form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
  <%= f.text_area :body , class: "w-100 form-control tweet-input", placeholder: "What's happening" %>

  <div class="d-flex justify-content-end">
    <%= f.submit "Tweet", class: "btn btn-lg btn-twitter rounded-pill" %>
  </div>
<%end%>